[app]
name = yc152
env= dev
timezone = Asia/Shanghai
headico = common

#mongodb 默认连接 不可修改名称
[database.mongodb.default]
host    = 127.0.0.1
port    = 27017
dbname  = yc152
username =
password =
#replica =

#mongodb 历史记录 不可修改名称
[database.mongodb.history]
host    = 127.0.0.1
port    = 27018
dbname  = yc152
username =
password =
#replica =

[session]
adapter = Files

[session.Files]
lifetime = 3600
prefix = yc152_
uniqueId = _yc152-sid

[session.Redis]
host = 127.0.0.1
port = 6379
persistent = false
lifetime = 3600
prefix = yc152_
index = 0
uniqueId = _yc152-sid

[redis]
host = 127.0.0.1
port = 6379
index = 1
prefix = yc152_

[queue]
channel = yc152_queue_
index = 2

[cache]
adapter = redis
lifetime = 3600
host = 127.0.0.1
port = 6379
index = 3
prefix = yc152_

[modules]
Backend = /admin1866
Api = /api

[elastic]
host = http://127.0.0.1:9200
prefix = yc152_

[cdn]
tencent =
kingshan =
aws =


[rabbitmq]
host=127.0.0.1
port=5672
user=guest
password=guest
vhost=/

[imserver]
appid=yc152
key=d2e06843bae5c0b831de2ad931b43063
ws_url=ws://im.testidunv.com
http_url=http://api.testidunv.com

[imserver.ice.01]
stun = stun:172.237.30.96:3478
turn = turn:172.237.30.96:3478
username =iceserver
password =iceserver123
