[app]
name = server
env= prod
timezone = Asia/Shanghai
headico = common

#mongodb 默认连接 不可修改名称
[database.mongodb.default]
host    = 127.0.0.1
port    = 27017
dbname  = server
username =
password =
#replica =

#mongodb 历史记录 不可修改名称
[database.mongodb.history]
host    = 127.0.0.1
port    = 27018
dbname  = server
username =
password =
#replica =

[session]
adapter = Files

[session.Files]
lifetime = 3600
prefix = server_
uniqueId = _server-sid

[session.Redis]
host = 127.0.0.1
port = 6379
persistent = false
lifetime = 3600
prefix = server_
index = 0
uniqueId = _server-sid

[redis]
host = 127.0.0.1
port = 6379
index = 1
prefix = server_

[queue]
channel = server_queue_
index = 2

[cache]
adapter = redis
lifetime = 3600
host = 127.0.0.1
port = 6379
index = 3
prefix = server_

[modules]
Backend = /admin1866
Api = /api

[elastic]
host = http://127.0.0.1:9200
prefix = server_

[cdn]
tencent =
kingshan =
aws =


[rabbitmq]
host=127.0.0.1
port=5672
user=guest
password=guest
vhost=/

[imserver]
appid=
key=
ws_url=
http_url=

[imserver.ice.01]
stun =
turn =
username =
password =
